# Variables en Python

## Declaración de variables

Los nombres de las variables pueden tener cualquier letra (a-z, A-Z), número (0-9) y también guines bajos:

In [1]:
var1 = 50
print(var1)

VaR_2 = 51 
print(VaR_2)

50
51

Pueden iniciar con un guión bajo:

In [2]:
_var3 = 52
print(_var3)

52

Pero no pueden iniciar con un número:

In [3]:
4var = 53

SyntaxError: invalid decimal literal (77409301.py, line 1)

## Tipos de variables
### Variables de tipo entero (int)

Las variables declaradas anteriormente son de tipo entero:

In [4]:
print(type(var1))
print(type(VaR_2))
print(type(_var3))

<class 'int'>
<class 'int'>
<class 'int'>

In [5]:
var5 = 100
var6 = 1500
print(type(var5))
print(type(var6))

<class 'int'>
<class 'int'>

### Variables de punto flotante
Los números con decimales o expresados con notación científica son de tipo float:

In [6]:
var7 = 50.0
print(type(var7))

<class 'float'>

In [7]:
var8 = 1e3
print(var8)
print(type(var8))

1000.0
<class 'float'>

### Variables tipo cadena de caracteres
El texto, que pueden ser palabras o mensajes completos, son llamados cadenas de caracteres. En Python se les conoce como variables de tipo string, o str. Se definen escribiendo el texto entre comillas simples o comillas dobles:

In [8]:
message_1 = 'Hola'
print(message_1)
print(type(message_1))

message_2 = "mundo"
print(message_2)
print(type(message_2))

Hola
<class 'str'>
mundo
<class 'str'>

Las cadenas de caracteres se pueden sumar y multiplicar:

In [9]:
print(message_1 + message_2)
print(message_1 + ' ' + message_2)

Holamundo
Hola mundo

In [10]:
print(message_1*5)

HolaHolaHolaHolaHola

### Comentarios
Los comentarios son líneas de código que Python ignora. Sirven para aclarar qué tareas hacen algunos bloques de código de modo que sea más fácil de leer.
Para escribir comentarios, se utiliza el símbolo  `#`. Cualquier cosa después de `#` será ignorado por Python:

In [11]:
pi = 3.14159265             #- Una variable float
num = 5                     #- Una variable int
message = "Hola mundo"      #- Una variable str

### Variables tipo bool
Son variables que toman únicamente dos valores: `True`/`False` o en números: `1`/`0`:

In [12]:
verdad  = True 
mentira = False

print(type(verdad))
print(type(mentira))

<class 'bool'>
<class 'bool'>

Aparecen al hacer comparaciones:

In [13]:
# ¿Es 3 mayor que 5?
3 > 5

False

In [14]:
# ¿Es 3 menor que 5?
3 < 5

True

In [15]:
print(var1)
print(var7)

# ¿Es 50 igual a 50.0?
var1 == var7

50
50.0

True

In [16]:
# ¿Es 10 mayor o igual que 2, y es 6 menor que 3?
10 >= 2 and 6 < 3

False

In [17]:
# ¿Es 10 mayor o igual que 2, o es 6 menor que 3?
10 >=2 or 6 < 3

True

In [18]:
# ¿Es 5 diferente de 0?
5 != 0

True

## Contenedores
### Listas
Las listas son un objeto de Python que permite almacenar muchas variables en una misma entidad. Se crean con los elementos separados por comas y encerrados entre corchetes:

In [19]:
mi_lista = [1,2,3,4]
print(mi_lista)

[1, 2, 3, 4]

Los elementos de las listas no tienen por qué ser del mismo tipo:

In [20]:
mi_otra_lista = [0, 5.5, 'Hola', True]
print(mi_otra_lista)

[0, 5.5, 'Hola', True]

Las listas pueden contener otras listas:

In [21]:
mi_lista_final = [mi_lista, mi_otra_lista]
print(mi_lista_final)

[[1, 2, 3, 4], [0, 5.5, 'Hola', True]]

Las listas se pueden sumar. A este proceso se le llama 'concatenación':

In [22]:
mi_lista + mi_otra_lista

[1, 2, 3, 4, 0, 5.5, 'Hola', True]

Creemos una lista con variables de tipo str:

In [23]:
astronomers = ['Carl Sagan', 'Stephen Hawking', 'Jocelyn Bell']

Para acceder a sus elementos, lo hacemos mediante índices, que representan su posición en la lista.
Al primer elemento le corresponde el índice `0`, al segundo el índice `1` y así sucesivamente:

In [24]:
astronomers[0]

'Carl Sagan'

In [25]:
astronomers[1]

'Stephen Hawking'

In [26]:
astronomers[2]

'Jocelyn Bell'

Al último elemento le corresponde el índice `-1`, al penúltimo el índice `-2` y así sucesivamente:

In [27]:
astronomers[-1]

'Jocelyn Bell'

In [28]:
astronomers[-2]

'Stephen Hawking'

In [29]:
astronomers[-3]

'Carl Sagan'

Los elementos de una lista se pueden reemplazar:

In [30]:
#- Muestra la lista inicial
print(f'La lista inicial tiene estos elementos: \n{astronomers}\n')

#- Asigna un nuevo valor al primer elemento
astronomers[0] = 'Johannes Kepler'

#- Muestra la lista final
print(f'La lista final tiene estos elementos: \n{astronomers}')

La lista inicial tiene estos elementos:
['Carl Sagan', 'Stephen Hawking', 'Jocelyn Bell']

La lista final tiene estos elementos:
['Johannes Kepler', 'Stephen Hawking', 'Jocelyn Bell']

Se pueden agregar elementos al final de una lista con el método `list.append()`:

In [31]:
#- Muestra la lista inicial
print(f'La lista inicial tiene estos elementos: \n{astronomers}\n')

#- Agrega un elemento al final
astronomers.append('Carl Sagan')

#- Muestra la lista final
print(f'La lista final tiene estos elementos: \n{astronomers}')

La lista inicial tiene estos elementos:
['Johannes Kepler', 'Stephen Hawking', 'Jocelyn Bell']

La lista final tiene estos elementos:
['Johannes Kepler', 'Stephen Hawking', 'Jocelyn Bell', 'Carl Sagan']

Se puede agregar más de un solo elemento al final de una lista usando el método `list.extend()`:

In [32]:
#- Muestra la lista inicial
print(f'La lista inicial tiene estos elementos: \n{astronomers}\n')

#- Agrega varios elementos al final
astronomers.extend(['Henrietta Leavitt', 'Vera Rubin'])

#- Muestra la lista final
print(f'La lista final tiene estos elementos: \n{astronomers}')

La lista inicial tiene estos elementos:
['Johannes Kepler', 'Stephen Hawking', 'Jocelyn Bell', 'Carl Sagan']

La lista final tiene estos elementos:
['Johannes Kepler', 'Stephen Hawking', 'Jocelyn Bell', 'Carl Sagan', 'Henrietta Leavitt', 'Vera Rubin']

Las variables str pueden convertirse a listas usando la función `list()`:

In [33]:
letters = list(astronomers[2])
print(letters)

['J', 'o', 'c', 'e', 'l', 'y', 'n', ' ', 'B', 'e', 'l', 'l']

Las variables str también admiten acceder a sus elementos mediante índices:

In [34]:
name = astronomers[2]
print(name)
print(type(name))

name[0]

Jocelyn Bell
<class 'str'>

'J'

Se pueden seleccionar porciones de una lista. Esto se conoce como `slicing`. Por ejemplo, para seleccionar los primeros tres elementos de la lista `astronomers` se hace de las iguiente manera:

In [35]:
new_astronomers = astronomers[0:3]
print(new_astronomers)

['Johannes Kepler', 'Stephen Hawking', 'Jocelyn Bell']

Puedes invertir todos los elementos de una lista usando slicing de la siguiente manera:

In [36]:
print(f'La lista normal es: \n{new_astronomers}\n')
print('la lista invertida es:')
new_astronomers[::-1]

La lista normal es:
['Johannes Kepler', 'Stephen Hawking', 'Jocelyn Bell']

la lista invertida es:

['Jocelyn Bell', 'Stephen Hawking', 'Johannes Kepler']

También puedes seleccionar los elementos con una separación dada. Por ejemplo:

In [37]:
print(astronomers)
astronomers[::2]

['Johannes Kepler', 'Stephen Hawking', 'Jocelyn Bell', 'Carl Sagan', 'Henrietta Leavitt', 'Vera Rubin']

['Johannes Kepler', 'Jocelyn Bell', 'Henrietta Leavitt']

### Tuplas
Las tuplas son similares a las listas, excepto que sus valores no pueden ser modificados. Existen dos formas de definir una tupla:
1. Escribiendo los elementos separados por comas
2. Escribiendo los elementos separados por comas y encerrándolos entre paréntesis

In [38]:
planets_1 = 'Mercurio', 'Venus', 'Tierra'
print(planets_1)
print(type(planets_1))

('Mercurio', 'Venus', 'Tierra')
<class 'tuple'>

In [39]:
planets_2 = ('Marte', 'Júpiter', 'Saturno')
print(planets_2)
print(type(planets_2))

('Marte', 'Júpiter', 'Saturno')
<class 'tuple'>

Se pueden transformar listas en tuplas usando la función `tuple`:

In [40]:
tuple(astronomers)

('Johannes Kepler',
 'Stephen Hawking',
 'Jocelyn Bell',
 'Carl Sagan',
 'Henrietta Leavitt',
 'Vera Rubin')

Los elementos de la lista también pueden ser accedidos mediante índices:

In [41]:
planets_1[0]

'Mercurio'

In [42]:
planets_2[0:2]

('Marte', 'Júpiter')

Las tuplas se pueden sumar:

In [43]:
planets_1 + planets_2

('Mercurio', 'Venus', 'Tierra', 'Marte', 'Júpiter', 'Saturno')

Pero no se pueden modificar:

In [44]:
planets_1[0] = 'Urano'

TypeError: 'tuple' object does not support item assignment

### Conjuntos
Los conjuntos son contenedores no ordenados. Esto significa que no se puede accedder a sus elementos mediante índices.
para definirlos se escriben sus elementos separados por comas y encerrados entre llaves:

In [43]:
my_set = {1,2,3,4,5,5,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

Las listas, tuplas y cadenas de caracteres pueden ser transformadas a conjuntos con la función `set()`:

In [44]:
set(astronomers)

{'Carl Sagan',
 'Henrietta Leavitt',
 'Jocelyn Bell',
 'Johannes Kepler',
 'Stephen Hawking',
 'Vera Rubin'}

En los conjuntos no existen elementos repetidos:

In [45]:
my_set = {1,2,3,4,5,5,5}
print(my_set)

{1, 2, 3, 4, 5}

Para añadir elementos, se usa el método `set.add()`:

In [46]:
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

Para eliminar un elemento se usa el método `set.remove()`:

In [47]:
#- Eliminar un elemento con remove()
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6}

El método `set.remove()` genera un error si se intenta eliminar un elemento que no existe:

In [48]:
#- Eliminar un elemento que no existe en el conjunto con remove()
my_set.remove(3)

KeyError: 3

Otra opción para eliminar elementos es el método `set.discard()`

In [49]:
#- Eliminar un elemento con discard()
my_set.discard(2)
print(my_set)

{1, 4, 5, 6}

El método `set.discard()` no genera errores si se intenta eliminar un elemento que no existe:

In [45]:
#- Eliminar un elemento que no existe en el conjunto con discard()
my_set.discard(3)

NameError: name 'my_set' is not defined

Puedes combrobar si un elemento está en un conjunto usando la palabra clave `in`. La sintaxis para listas y tuplas es la misma:

In [46]:
2 in my_set

NameError: name 'my_set' is not defined

In [47]:
6 in my_set

NameError: name 'my_set' is not defined

In [48]:
'Jocelyn Bell' in astronomers

True

In [49]:
'Marte' in planets_2

True

Otras operaciones que admiten los conjuntos son:
* Unión: combina todos los elementos de dos conjuntos, eliminando los duplicados, mediante el operador `|`.
* Intersección: Devuelve los elementos comunes en ambos conjuntos, mediante el operador `&`.
* Diferencia: Devuelve los elementos que están en el primer elemento pero no en el segundo, mediante el operador `-`.
* Diferencia simétrica: Devuelve los elementos que están en un set o en otro, pero no en ambos, mediante el operador `^`

In [50]:
my_set_2 = {1, 9, 34}

print(f'Los elementos del primer conjunto son {my_set}')
print(f'Los elementos del primer conjunto son {my_set_2}')

print(f'\nLa unión de ambos conjuntos es:')
my_set | my_set_2

NameError: name 'my_set' is not defined

### Diccionarios
Los diccionarios son una versión mejorada de los conjuntos. Se definen a partir de pares clave-valor. A cada clave le corresponde un valor. Para definirlos se encierran sus pares clave-valor entre llaves, o se usa la función `dict()`:

In [51]:
#- Sintaxis para crear un diccionario
stephen = {# Clave      :  Valor
            "first_name": "Stephen",
            "last_name" : "Hawking",
            "birthday"  : (8, 1, 1942)
            }
print(stephen)
print(type(stephen))

{'first_name': 'Stephen', 'last_name': 'Hawking', 'birthday': (8, 1, 1942)}
<class 'dict'>

In [52]:
#- Otra sintaxis equivalente para crear un diccionario
albert = dict(# Clave     = Valor
               first_name = "Albert",
               last_name  ='Einstein',
               birthday   = (14, 3, 1879)
              )

print(albert)
print(type(albert))

{'first_name': 'Albert', 'last_name': 'Einstein', 'birthday': (14, 3, 1879)}
<class 'dict'>

Para acceder a sus elementos, se hace mediante sus claves. Por ejemplo:

In [53]:
stephen['first_name']

'Stephen'

Para añadir elementos, se define una nueva clave con su correspondiente valor:

In [54]:
stephen['nationality'] = "British"
print(stephen)

{'first_name': 'Stephen', 'last_name': 'Hawking', 'birthday': (8, 1, 1942), 'nationality': 'British'}

Puedes obtener las claves de un diccionario usando el método `dict.keys()`:

In [55]:
albert.keys()

dict_keys(['first_name', 'last_name', 'birthday'])

Sus valores se obtienen con el método `dict.values()`:

In [56]:
albert.values()

dict_values(['Albert', 'Einstein', (14, 3, 1879)])

Y sus pares clave-valor se obtienen con el método `dict.items()`:

In [57]:
albert.items()

dict_items([('first_name', 'Albert'), ('last_name', 'Einstein'), ('birthday', (14, 3, 1879))])

## Ejercicios

1. Crea una lista con los números 1, 2, 3, 4, 5.
    * Accede al primer elemento de la lista
    * Accede al último elemento de la lista

2. Crea una lista vacía.
    * Agrega los elementos 'manzana', 'banana' y 'cereza' a la lista usando el método append().
    * Elimina el primer elemento de la lista usando el método remove().
    * Muestra la lista actualizada.

3. Crea dos listas: `lista1 = [1, 2, 3]` y `lista2 = [4, 5, 6]`
    * Concaténalas en una sola lista y muestra el resultado

4. Define la lista `numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]` y:
    * Muestra los primeros 5 elementos usando slicing
    * Muestra los últimos 3 elementos usando slicing
    * Muestra todos los elementos en posiciones impares

5. Crea una lista con los números desordenados: [10, 3, 7, 2, 9].
    * Ordena la lista en orden ascendente con el método `list.sort()`
    * Ordena la lista en orden descendente
    * Muestra cuántos elementos tiene la lista con la función `len()`
    * Elimina el tercer elemento usando el método `list.pop()`
    * Agrega el elemento `23` en la posición 2 usando el método `list.insert()`

6. Crea una lista con elementos repetidos y elimina sus elementos duplicados (¿te servirían las propiedades de los conjuntos?)

7. Crea un set con los elementos 10, 20, 30 y:
    * Agrega el número 40 al set
    * Elimina el número 20 del set
    * Muestra el set actualizado

8. Define los sets `A = {1, 2, 3, 4, 5}` y `B = {4, 5, 6, 7, 8}`
    * Muestra la unión de ambos sets
    * Muestra la intersección de ambos sets

9. Usando los dos sets anteriores:
    * Muestra la diferencia de `A` y `B`
    * Muestra la diferencia simétrica de `A` y `B`

10. Define el siguiente diccionario: `personas = {'Ana': 28, 'Carlos': 35, 'Luis': 22}` y:
    * Accede a edad de Carlos e imprímela
    * Agrega un nuevo par clave-valor: `(Marta, 40)`
    * Muestra el diccionario actualizado
    * Muestra todas las claves del diccionario
    * Muestra todos los valores del diccionario
    * Muestra todos los pares clave-valor del diccionario
    * Cambia la edad de Luis a 23
    * Muestra el diccionario actualizado

11. Crea un diccionario donde las claves sean nombres de asignaturas y los valores sean conjuntos de estudiantes inscritos en esas asignaturas. Puedes usar este diccionario:
```py
asignaturas = {
               'Matemáticas': {'Ana', 'Luis', 'Carlos'},
               'Historia': {'Marta', 'Ana', 'Luis'}
              }
```

* Muestra los estudiantes inscritos en Matemáticas
* Muestra la unión de los estudiantes inscritos en Matemáticas e Historia
* Muestra la intersección de estudiantes inscritos en ambas asignaturas